<!-- BEGIN:main -->
<script language="javascript" src="{WEB_PATH}js/pwd_meter.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$('#editCdtUser').submit(function(event) {
			var password = $('#ds_new_password').val();
			var confirmPassword = $('#ds_repeat_new_password').val();

			console.log(password+' '+confirmPassword);
			if (password !== confirmPassword) {
				event.preventDefault();
				$('#ds_repeat_new_password').get(0).setCustomValidity('Las passwords no coinciden');
			} else {
				$('#ds_repeat_new_password').get(0).setCustomValidity('');
			}
		});


	});
function showPswSecurityLevel( psw ){

	var oScorebar = document.getElementById("scorebar");
	var oScore = document.getElementById("score");

	oScorebar.style.backgroundPosition = "0";
	$("#score").html("");
	$("#psw_level").html("");
	
	var nScore = getPassScore(psw);

	if( nScore >= 0 ){

		if (nScore > 100) { nScore = 100; } else if (nScore < 0) { nScore = 0; }
		if (nScore >= 0 && nScore < 20) { sComplexity = "Muy d&eacute;bil"; }
		else if (nScore >= 20 && nScore < 40) { sComplexity = "D&eacute;bil"; }
		else if (nScore >= 40 && nScore < 60) { sComplexity = "Buena"; }
		else if (nScore >= 60 && nScore < 80) { sComplexity = "Segura"; }
		else if (nScore >= 80 && nScore <= 100) { sComplexity = "Muy segura"; }

		$("#psw_level").html(sComplexity);
		oScorebar.style.backgroundPosition = "-" + parseInt(nScore * 4) + "px";
		oScore.innerHTML = nScore + "%";
	}
	
	
	
}

</script>
<style>

#scorebarBorder {
    background: none repeat scroll 0 0 #333333;
    border: 1px solid #000000;
    height: 16px;
    margin-bottom: 2px;
    width: 100px;
}
#score {
    color: #000000;
    font-size: 85%;
    position: absolute;
    text-align: center;
    width: 100px;
    z-index: 10;
}

#scorebar {
    background-image: url("{WEB_PATH}css/images/bg_strength_gradient.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    width: 100px;
    z-index: 0;
}

#pswSecutiryLevel{
	/*float:left;*/

}

</style>
<!-- BEGIN:msg -->
<script type="text/javascript">
	showMessageError('{msg}', 1);
</script>
<!-- END:msg -->

<div class="container">

	<form name='editCdtUser' id='editCdtUser' action='doAction?action={submit}' method='post' onsubmit="return validate('editCdtUser');">
		<input type="hidden" name="cd_user" id="cd_user" value="{cd_user}"/>
		<!-- este formulario se hace con flexbox porque tiene dos columnas -->
		<div class="form-flex">
		<h3>ACTUALIZAR MI CUENTA  </h3>
		</div>
		<div class="form-flex">
			<div class="form-right">
				<label for="{ds_username_label}">{ds_username_label}</label>
				<input type='text' disabled class="inputSignup" name='ds_username' id='ds_username'  value="{ds_username}" size='23' />
				<input type='hidden' class="inputSignup" name='ds_username' id='ds_username' value="{ds_username}"/>
			</div>
			<div class="form-left">
				<label for="{ds_name_label}">{ds_name_label}</label>
				<input required type='text'  class="inputSignup" name='ds_name' id='ds_name'  value="{ds_name}" size='23'/>
				<div class="obligatorio">
					<h3>*</h3>
				</div>
			</div>
		</div>

		<div class="form-flex">
			<div class="form-right">
				<label for="{ds_email_label}">{ds_email_label}</label>
				<input required type='email'  class="inputSignup" name='ds_email' id='ds_email'  value="{ds_email}"/>
				<div class="obligatorio">
					<h3>*</h3>
				</div>
			</div>
			<div class="form-left">
				<label for="{ds_password_label}">{ds_password_label}</label>
				<input type='password' class="inputSignup" name='ds_password' id='ds_password' />

			</div>
		</div>


		<div class="form-flex">
			<div class="form-right">
				<label for="{ds_phone_label}">{ds_phone_label}</label>
				<input  type='text'  class="inputSignup" name='ds_phone' id='ds_phone'  value="{ds_phone}"/>
			</div>
			<div class="form-left">
				<label for="{ds_new_password_label}">{ds_new_password_label}</label>
				<input onkeyup="showPswSecurityLevel(this.value);" type='password' class="inputSignup" name='ds_new_password' id='ds_new_password'/>
				<div id="pswSecutiryLevel">
					<div id="scorebarBorder">
						<div id="score"></div>
						<div id="scorebar" style="background-position: -400px center;">&nbsp;</div>
					</div>
					<div id="psw_level"></div>
				</div>
			</div>
		</div>

		<div class="form-flex">
			<div class="form-right">
				<label for="{ds_address_label}">{ds_address_label}</label>
				<input  type='text'  class="inputSignup" name='ds_address' id='ds_address'  value="{ds_address}"/>
			</div>
			<div class="form-left">
				<label for="{ds_repeat_new_password_label}">{ds_repeat_new_password_label}</label>
				<input type='password' class="inputSignup" name='ds_repeat_new_password' id='ds_repeat_new_password' />
			</div>

		</div>



				<div class="campos-requeridos">
					<h4> (*) {msg_required_fields} </h4>
				</div>
				<div class="botones">

					<input type='submit' name='{lbl_save}' value='{lbl_save}'/>
					<input type='reset' name='{lbl_cancel}' value='{lbl_cancel}' onclick="javascript:window.location.href= 'doAction?action=home';"/>
				</div>





	</form>
</div>

<!-- END:main -->
