<!-- BEGIN: main -->
<div style='padding-left: 30px; padding-right: 30px; padding-top: 30px ; padding-bottom: 30px; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #666666; background-color:#FFFFFF'>
<img src="{img_logo}" alt="Logo" longdesc="Logo"><br>
Estimado/a {ds_name}! <br /><br />

Bienvenido al Sistema de Gesti&oacute;n de {CDT_MVC_APP_SUBTITLE}<br /><br />

Su usuario es: {ds_username}<br /><br />

y su contrase&ntilde;a: {ds_password}<br /><br />

Link para ingresar al sitio: <a href="{WEB_PATH}doAction?action=login_init">Login</a> 

<!-- END: main -->

